
//color
$primary-dark: #242D35;
$white:#FFFFFF;
$white-100:#F1F1F1;
$text-100: #061623;
$text--600:rgba(30, 32, 41,0.6);
$text-light:#EFF2F4;
$CaribbeanGreen:#1fcfb3;
$Cerulean:#2DB9E1;
$Lochmara:#22729C;
$aliceBlue:#E8F0F7;
$gray-primary:#D6DADE;
$border:#EAECEE;
$pattern-blue:#CDE8FF;
$text-gray:#717D8A;
$gray-100:#A8B0B9;
$bg-body:#F5F6F8;
$themeDark:#2E475C;
$BrightGray:#E8F0F6;
$danger:#EB5757;
$blue:#24B5DF;
$yellow:#F2994A;
// Gradiant
$primary-100:linear-gradient(180deg, #061623 0%, #082034 100%);
$box-shadow: 0px 0px 16px rgba(8, 33, 54, 0.07);
// Font Sizes
$font8:0.5rem ; // 8px 
$font10:0.625rem ; // 10px 
$font12:0.75rem ; // 12px 
$font14:0.875rem ; // 14px 
$font15:0.938rem;//15px
$font16:1rem ; // 16px 
$font18:1.125rem ; // 18px 
$font19:1.188rem ; // 19px
$font20:1.25rem ; // 20px 
$font22:1.375rem;// 22px 
$font23:1.438rem;// 23px 
$font24:1.5rem;// 24px 

$font32:2rem  // 32px
